Source: kodi
Section: video
Priority: optional
Maintainer: René Bühlmann <rene@buehlmann.net>
Build-Depends: debhelper (>= 7.0.50~),
 automake,
 autopoint,
 bison,
 build-essential,
 ccache,
 cmake,
 curl,
 debhelper,
 default-jre | openjdk-6-jre | openjdk-7-jre,
 fp-compiler,
 gawk,
 gdc,
 gettext,
 git-core,
 gperf,
 libasound2-dev | libasound-dev,
 libass-dev (>= 0.9.8),
 libavcodec-dev,
 libavfilter-dev,
 libavformat-dev,
 libavutil-dev,
 libbluetooth-dev,
 libbluray-dev,
 libbluray1 | libbluray2,
 libboost-dev,
 libboost-thread-dev,
 libbz2-dev,
 libcap-dev,
 libcdio-dev,
 libcrossguid-dev,
 libcrystalhd-dev,
 libcrystalhd3,
 libcurl3,
 libcurl4-openssl-dev | libcurl4-gnutls-dev | libcurl-dev,
 libcwiid-dev,
 libcwiid1,
 libdbus-1-dev,
 libegl1-mesa-dev,
 libenca-dev,
 libflac-dev,
 libfontconfig-dev,
 libfreetype6-dev,
 libfribidi-dev,
 libgif-dev (>= 5.0.5),
 libgles2-mesa-dev [armel] | libgl1-mesa-dev | libgl-dev,
 libglew-dev,
 libiso9660-dev,
 libjpeg-dev,
 libltdl-dev,
 liblzo2-dev,
 libmad0-dev,
 libmicrohttpd-dev,
 libmodplug-dev,
 libmp3lame-dev,
 libmpeg2-4-dev,
 libmpeg3-dev,
 libmysqlclient-dev,
 libnfs-dev,
 libogg-dev,
 libpcre3-dev,
 libplist-dev,
 libpng12-dev | libpng-dev,
 libpostproc-dev,
 libpulse-dev,
 libsamplerate-dev,
 libsdl-dev,
 libsdl-gfx1.2-dev,
 libsdl-image1.2-dev,
 libsdl-mixer1.2-dev,
 libshairport-dev,
 libsmbclient-dev,
 libsqlite3-dev,
 libssh-dev,
 libssl-dev,
 libswscale-dev,
 libtag1-dev (>= 1.8) | libtag1x8,
 libtiff5-dev | libtiff-dev | libtiff4-dev,
 libtinyxml-dev,
 libtool,
 libudev-dev,
 libusb-dev,
 libva-dev,
 libva-egl1,
 libva-tpi1,
 libvdpau-dev,
 libvorbisenc2,
 libxml2-dev,
 libxmu-dev,
 libxrandr-dev,
 libxrender-dev,
 libxslt1-dev | libxslt-dev,
 libxt-dev,
 libyajl-dev,
 mesa-utils,
 nasm [!amd64],
 pmount,
 python-dev,
 python-imaging,
 python-sqlite,
 swig,
 unzip,
 uuid-dev,
 yasm,
 zip,
 zlib1g-dev
Standards-Version: 3.9.4
Homepage: http://kodi.tv/
Vcs-Git: git://github.com/rbuehlma/xbmc-packaging.git
Vcs-Browser: https://github.com/rbuehlma/xbmc-packaging

Package: kodi
Architecture: all
Depends: kodi-bin (>= ${source:Version}),
         kodi-bin (<< ${source:Version}.1~),
         curl,
         libcurl3,
         mesa-utils,
         x11-utils,
         fonts-liberation | ttf-liberation,
         fonts-dejavu-core | ttf-dejavu-core,
         python-bluez | python-lightblue,
         python-imaging,
         python-simplejson,
         libmad0,
         libass5 | libass4,
         libgif5 | libgif7,
         libssh-4 | libssh2-1,
         libnfs8 | libnfs4 | libnfs1,
         libbluray1 | libbluray2,
         libshairplay0,
         libvorbisfile3,
         libaacs0,
         libcec4,
         librtmp1 | librtmp0,
         libgnutls30 | libgnutls-deb0-28 | libgnutls28 | libgnutls26,
         libxslt1.1,
         libyajl2,
         ${python:Depends},
         ${misc:Depends}
Recommends: libvdpau1,
         libva-intel-vaapi-driver,
         libva1
Suggests: kodi-pvr-mythtv,
         kodi-pvr-vuplus,
         kodi-pvr-vdr-vnsi,
         kodi-pvr-njoy,
         kodi-pvr-nextpvr,
         kodi-pvr-mediaportal-tvserver,
         kodi-pvr-tvheadend-hts,
         kodi-pvr-dvbviewer,
         kodi-pvr-argustv,
         kodi-pvr-iptvsimple,
         kodi-audioencoder-vorbis,
         kodi-audioencoder-flac,
         kodi-audioencoder-lame
Provides: kodi-standalone, kodi-data, kodi-skin-estuary, xbmc, xbmc-standalone, xbmc-data
Replaces: xbmc (<< 2:14.0~git20141019), xbmc-standalone, xbmc-data
Breaks: xbmc (<< 2:14.0~git20141019), xbmc-standalone, xbmc-data
Description: Kodi Media Center (arch-independent data package)
 Kodi, formerly known as XBMC Media Center, is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. Kodi is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, Kodi is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to Kodi, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While Kodi functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, Kodi feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This package contains all the architecture independent data needed to have a
 working Kodi.

Package: kodi-bin
Architecture: i386 amd64 armhf
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: ${shlibs:Recommends}
Provides: kodi-common, kodi-bin, xbmc-common, xbmc-bin
Replaces: xbmc-bin (<< 2:14.0~git20141019), xbmc-common
Breaks: xbmc-bin (<< 2:14.0~git20141019), xbmc-common
Description: Kodi Media Center (binary data package)
 Kodi, formerly known as XBMC Media Center, is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. Kodi is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, Kodi is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to Kodi, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While Kodi functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, Kodi feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This package contains all the binary data needed to have a working Kodi.

Package: kodi-addon-dev
Provides: xbmc-addon-dev
Architecture: all
Section: libdevel
Recommends: kodi-pvr-dev, kodi-audio-dev, kodi-screensaver-dev, kodi-visualization-dev
Description: Kodi Media Center (General Add-on Dev package)
 Kodi, formerly known as XBMC Media Center, is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. Kodi is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, Kodi is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to Kodi, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While Kodi functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, Kodi feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This is the Development package for Kodi add-ons.

Package: kodi-screensaver-dev
Provides: xbmc-screensaver-dev
Architecture: all
Section: libdevel
Depends: kodi-addon-dev
Description: Kodi Media Center (Screensaver Add-on Dev package)
 Kodi, formerly known as XBMC Media Center, is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. Kodi is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, Kodi is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to Kodi, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While Kodi functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, Kodi feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This is the Development package for Kodi screensaver add-ons.

Package: kodi-visualization-dev
Provides: xbmc-visualization-dev
Architecture: all
Section: libdevel
Depends: kodi-addon-dev
Description: Kodi Media Center (Visualization Add-on Dev package)
 Kodi, formerly known as XBMC Media Center, is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. Kodi is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, Kodi is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to Kodi, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While Kodi functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, Kodi feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This is the Development package for Kodi visualization add-ons.

Package: kodi-pvr-dev
Provides: xbmc-pvr-dev
Architecture: all
Section: libdevel
Depends: kodi-addon-dev
Description: Kodi Media Center (PVR Add-on Dev package)
 Kodi, formerly known as XBMC Media Center, is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. Kodi is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, Kodi is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to Kodi, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While Kodi functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, Kodi feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This is the Development package for Kodi PVR add-ons.

Package: kodi-audio-dev
Provides: xbmc-audio-dev
Architecture: all
Section: libdevel
Depends: kodi-addon-dev
Description: Kodi Media Center (Audio Add-on Dev package)
 Kodi, formerly known as XBMC Media Center, is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. Kodi is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, Kodi is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to Kodi, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While Kodi functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, Kodi feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This is the Development package for Kodi audio add-ons.

Package: kodi-inputstream-dev
Provides: xbmc-inputstream-dev
Architecture: all
Section: libdevel
Depends: kodi-addon-dev
Description: Kodi Media Center (Audio Add-on Dev package)
 Kodi, formerly known as XBMC Media Center, is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. Kodi is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, Kodi is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to Kodi, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While Kodi functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, Kodi feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This is the Development package for Kodi inputstream add-ons.


Package: kodi-tools-texturepacker
Architecture: any
Description: Kodi Media Center (Skin Dev - TexturePacker)
 Kodi, formerly known as XBMC Media Center, is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. Kodi is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, Kodi is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to Kodi, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While Kodi functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, Kodi feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This is the Kodi TexturePacker tool.


Package: xbmc
Depends: kodi, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional dummy package
  This is a transitional dummy package. It can safely be removed.
